@import '../../scss/variables';
@import '../../scss/mixin';

.landing {
    min-height: calc(100vh - 150px);

    .wrapper {
        border: 2px solid red;

        .landingTitle {
            text-align: center;
            padding: 50px;
        }

        p {
            width: 500px;
            margin: auto;
            color: $white;
        }
    }
}