@import "../../scss/variables";
@import "../../scss/mixin";

// .wrapper-form {
//   width: 300px;
//   border: 1px solid white;
//   background-color: yellowgreen;
//   display: flex;
//   flex-direction: column;
//   margin: auto;
// }

// .wrapper-form label,
// input {
//   padding: 10px;
// }

// .wrapper-form button {
//   padding: 10px;
//   margin-top: 20px;
//   background-color: blue;
// }

.main {
  min-height: calc(100vh - 150px);

  & .wrapper {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      color: $white;
      font-size: 50px;
      padding: 100px 0 20px 0;
    }

    & .create-product-form {
      width: 300px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $dark-gray-alpha;

      & label {
        text-align: center;
        color: $orange;
        padding: 10px;
        font-weight: bold;
      }

      & input {
        width: 200px;
        margin-bottom: 15px;
        padding: 5px 0 5px 10px;
        border-radius: 5px;
        border: 3px solid transparent;
        font-family: $roboto-slab;

        &:focus {
            outline: none;
            border: 3px solid $orange;
        }
        &:focus::placeholder {
            color: transparent;
        }
      }   

      & .submitBtn {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        font-weight: bold;
        outline: none;
        border: none;
        background: $orange;
        color: white;
        cursor: pointer;
        transition: 0.5s all;
        margin-bottom: 15px;

      &:hover {
          box-shadow: 0 0 10px 2px $orange;
        }
      }  
    }
  }
}