@import "../../scss/variables";
@import "../../scss/mixin";

.home {
  & .wrapper {
    & .product-list {
      max-width: 300px;
      width: 100%;
      height: 60vh;
      overflow: auto;
      margin: 0 auto 10px;
      background: $dark-gray-alpha2;

      &::-webkit-scrollbar {
        display: none;
      }

      & .list-item {
        width: 100%;
        text-align: center;
        color: red;
        padding: 5px;
        border-bottom: 1px solid $orange;

        & .content-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

        & .text-LI {
          width: 90%;

          & .product-wrapper {
            display: flex;
            justify-content: space-between;

            & .product-name {
              text-align: left;
              padding: 5px;
              width: 50%;
              color: $white;
              text-transform: uppercase;
              font-weight: map-get($font-weight, "medium");
            }  
            & .amount {
              width: 20%;
              padding: 5px;
              color: $white;
            }
            & .product-price {
              padding: 5px;
              color: $white;
              text-transform: uppercase;
              text-align: center;
              font-weight: map-get($font-weight, "medium");
            }
          }

            & .suggested-amount {
              color: $orange;
              font-style: italic;
              text-align: left;
              font-size: map-get($font-size, "small-");
            }
        }

        & .three-dots {
          width: 44px;
          height: 44px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          svg {
              width: 24px;
              // &:hover {
              //   fill: red;
              // }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

        & .button-wrapper {
          animation: drop-down-shopping-buttons 0.3s forwards;
          width: 80%;
          height: 0;
          padding: 4px;
          display: flex;
          justify-content: space-between;
          transform: scale(1, 0);
          
          & div {
            background: $white;
            padding: 0.4rem;
            width: 42px;
            height: 42px;
            border-radius: 10px;
            border: 2px solid transparent;
            cursor: pointer;
            transition: 0.5s all ease-in-out;

            & img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
