@import "../../scss/variables";
@import "../../scss/mixin";

.home {

  & .wrapper {
    
    & .product-list {
      width: 300px;
      max-height: 250px;
      overflow: auto;
      margin: auto;
      margin-bottom: 20px;

      & .list-item {
        width: 100%;
        display: flex;
        background: $dark-gray-alpha;
        border: 2px solid $orange;
        padding: 5px;
        margin-bottom: 8px;
        border-radius: 10px;

        & .delete-item {
          width: 25px;
          height: 25px;
          margin-top: 50%;
          background: url("../../assets/img/trashbin.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 80%;
          border: none;
          outline: none;
          cursor: pointer;
        }

        & .product-wrapper {
          width: 60%;

          & .product-name {
            color: $white;
            text-transform: uppercase;
            text-align: center;
            font-weight: map-get($font-weight, "medium");
          }
          & .suggested-amount {
            color: $orange;
            font-style: italic;
            text-align: center;
            font-size: map-get($font-size, "small-");
          }
        }

        & .btn-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;

          & .amount {
            padding: 10px;
            color: $white;
          }

          & button {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: map-get($font-size, 'medium');
            position: relative;
            border: 2px solid transparent;
            transition: 0.5s all ease;

            & .plus-span,
            & .minus-span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition: 0.5s all ease;
            }

            & .plus-span {
              top: 0px;
            }
            & .minus-span {
              top: -2px;
            }
          }

          & .plus:hover {
            border: 2px solid $light-green; 
          }
          & .plus:hover .plus-span {
            color: $light-green;
          }

          & .minus:hover {
            border: 2px solid $red;
          }
          & .minus:hover .minus-span {
            color: $red;
          }
        }
      }
    }
  }
}
