@import "../../scss/variables";
@import "../../scss/mixin";

.history {

& .wrapper {

    & .receipt-list-item {
            border-radius: 10px;
            margin-bottom: 4px;
            // padding: 5px;
            // border: 1px solid $orange;

            & p {
                // font-style: italic;
                font-size: map-get($font-size, 'small');
                font-weight: map-get($font-weight, 'heavy');
                color: $orange;
                display: inline-block;
                width: 25%;
                text-align: center;
            }
        }
    }
}