@import "../../scss/variables";
@import "../../scss/mixin";

.home {
  min-height: calc(100vh - 150px);

  & .wrapper {

    & .search-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & label {
        color: $orange;
        padding: 5px;
        margin-bottom: 10px;
        font-size: map-get($font-size, "medium");
        font-weight: bold;
        background: $dark-gray-alpha;
        border-radius: 10px;
      }

      & input {
        width: 200px;
        margin-bottom: 10px;
        padding: 5px 0 5px 10px;
        border-radius: 5px;
        border: 3px solid transparent;
        font-family: $roboto-slab;

        &:focus {
          outline: none;
          border: 3px solid $orange;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }

    & .button-wrapper {
      width: 80px;
      margin: auto;

      & .checkout-btn {
        position: relative;
        width: 80px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        font-weight: map-get($font-weight, 'medium');
        font-size: map-get($font-size, 'small');
        color: $white;
        background: $light-green;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
        transition: 0.5s all ease;

        &:hover {
          border: 2px solid $white;
        }

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: -20px;
          width: 6px;
          height: 60px;
          background: $white;
          transform: rotate(30deg);
          transition: 0.5s all ease;
          opacity: 0.7;
        }

        &::after {
          content: '';
          position: absolute;
          top: -10px;
          left: -30px;
          width: 3px;
          height: 60px;
          background: $white;
          transform: rotate(30deg);
          transition: 0.5s all ease;
          opacity: 0.7;
        }
      }
      & .checkout-btn:hover::before {
        left: 65px;
      }
      
      & .checkout-btn:hover::after {
        left: 74px;
      }
    }
  }
}