@import '../../../scss/variables';
@import '../../../scss/mixin';


.header {

  & .wrapper {

    & .nav {

      & .nav-list {

        & .user-email {
          list-style-type: none;

          & .drop-down-menu {
            position: absolute;
            top: 100%;
            right: 0;

            & li {
              list-style-type: none;
              margin-bottom: 5px;
              padding: 10px;
              width: 150px;
              font-size: map-get($font-size, 'small-');
              text-align: right;
              background: $dark-gray-alpha2;
              border: 3px solid transparent;
              transition: 0.5s all ease;
            }
            & .exit-LI {
              display: flex; 
              align-items: center;
              justify-content: space-between;
            }

            & .information-LI {
              cursor: default;
            }
            & .admin-LI {
              color: $white;
              padding: 0;

              & .admin {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: $white;

                &:hover {
                  color: $orange;
                }
              }
            }

            & li:hover {
              border-bottom: 3px solid $orange;
              border-right: 3px solid $orange;
              color: $orange;
            }
          }
        }
      }
    }
  }
}