@import '../../../scss/variables';
@import '../../../scss/mixin';


.header {

  & .wrapper {

    & .nav {

      & .nav-list {

        & .user-email {
          list-style-type: none;

          & .drop-down-menu {
            position: absolute;
            background: $dark-gray-alpha2;
            top: 100%;
            right: 0;

            & li {
              list-style-type: none;
              padding: 10px;
              width: 150px;
              font-size: map-get($font-size, 'small-');
              text-align: right;
              border: 3px solid transparent;
              transition: 0.5s all ease;
              position: relative;
              overflow: hidden;
            }

            & .information-LI {
              cursor: default;
            }

            & .history-LI {
              color: $white;
              padding: 10px 0;
              border-top: 1px solid $gray;
              border-bottom: 1px solid $gray;

              & a {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: $white;

                &:hover {
                  color: $orange;
                }
              }
            }

            & .admin-LI {
              color: $white;
              padding: 10px 0 0 0;

              & a {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: $white;

                &:hover {
                  color: $orange;
                }
              }
            }

            & .create-product-LI {
              color: $white;
              padding: 0 0 10px 0;
              border-bottom: 1px solid $gray;

              & a {
                text-decoration: none;
                display: block;
                padding: 10px;
                color: $white;

                &:hover {
                  color: $orange;
                }
              }
            }

            & .sign-out {
              padding: 20px 10px;
            }

            & li:hover {
              border-bottom: 3px solid $orange;
              border-right: 3px solid $orange;
              color: $orange;
              animation: blinkLI 0.5s forwards;
            }
          }
        }
      }
    }
  }
}