@import "../../scss/variables";
@import "../../scss/mixin";

.history {
  min-height: calc(100vh - 150px);

  & .wrapper {
    padding-top: 50px;

    & h1 {
      color: $white;
      padding: 10px;
      text-align: center;
    }

    & .shopping-list {
      height: 60vh;
      background: $dark-gray-alpha;
      border-radius: 15px;
      max-width: 300px;
      width: 100%;
      overflow: auto;
      margin: auto;
      margin-bottom: 20px;
      padding: 20px;
    }
  }
}