@import "../../scss/variables";
@import "../../scss/mixin";

.main {
  min-height: calc(100vh - 150px);

  & .wrapper {

    & h1 {
      color: $white;
      font-size: 50px;
      padding: 0 0 20px 0;
    }

    & .shopping-list {
      width: 300px;
      max-height: 250px;
      overflow: auto;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}