@import '../../scss/variables';
@import '../../scss/mixin';

.signin {

    .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
                
        & .logoLink {

            & .logo {
                width: 100px;
            }
        }

        & img {
            width: 80px;
        }
        
        & h1 {
            color: $white;
            font-size: 50px;
            padding: 0 0 20px 0;
        }

        & .signin-form {
            width: 300px;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $dark-gray-alpha;

            & label {
                text-align: center;
                color: $orange;
                padding: 5px;
                font-weight: bold;
            }
            
            & input {
                width: 200px;
                margin-bottom: 15px;
                padding: 5px 0 5px 10px;
                border-radius: 5px;
                border: 3px solid transparent;
                font-family: $roboto-slab;

                &:focus {
                    outline: none;
                    border: 3px solid $orange;
                }
                &:focus::placeholder {
                    color: transparent;
                }
            }

            & .submitBtn {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                margin-bottom: 15px;
                font-weight: bold;
                outline: none;
                border: none;
                background: $orange;
                color: white;
                cursor: pointer;
                transition: 0.5s all;

                &:hover {
                    box-shadow: 0 0 10px 2px $orange;
                }
            }
            & .error-msg {
                color: $red;
            }
        }

        & .existingAcc {
            color: $white;
            background: $dark-gray-alpha;
            padding: 5px;
            margin-bottom: 200px;
            border-radius: 10px;

            & a {
                padding: 10px;
                color: $orange;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}