@import "../../scss/variables";
@import "../../scss/mixin";

.wrapper-listitem {
  width: 200px;
  border: 1px solid yellow;
  margin: 20px auto;
  color: yellow;
  text-align: center;
  font-size: 1.3em;

  & .wrapper-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgb(61, 55, 21);
    background-color: gold;
  }
}
