@import "../../scss/variables";
@import "../../scss/mixin";

.history {

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    & .date {
      max-width: 400px;
      width: 100%;
      background: $dark-gray-alpha2;
      font-size: map-get($font-size, 'medium+');
      font-weight: map-get($font-weight, 'heavy');
      color: $orange;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      margin-bottom: 5px;
    }

    & .list-of-products {
      max-width: 400px;
      width: 100%;
      max-height: 250px;
      overflow: auto;
      margin: auto;
      background: $dark-gray-alpha2;
      border-radius: 10px;
      padding: 0 5px;

      & .product-heading {
        
        & p {
          display: inline-block;
          width: 25%;
          text-align: center;
          color: $white;
          font-size: map-get($font-size, 'medium-');
          font-weight: map-get($font-weight, 'light');
          font-style: italic;
          padding: 5px;
        }
      }
    }

    & .total-price {
      background: $dark-gray-alpha2;
      padding: 10px;
      margin: 15px;
      font-size: map-get($font-size, 'medium');
      font-weight: map-get($font-weight, 'medium');
      color: $light-green;
      border-radius: 10px;
    }

    & .button-wrapper {
      display: flex;

      & .back-to-history,
      & .back-to-home {
        font-size: map-get($font-size, 'small');
        font-weight: map-get($font-weight, 'medium');
        width: 120px;
        height: 40px;
        margin: 0 10px;
        border-radius: 5px;
        border: none;
        outline: none;
        background: $orange;
        position: relative;
        transition: all 0.4s ease;
        border: 3px solid transparent;

        &:hover {
          &:hover {
            box-shadow: 0 0 15px 4px $white;
            border: 3px solid $white;
          }
        }

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          width: 100%;
          height: 100%;
          color: $white;
        }
      }
    }
  }
}