@import '../../scss/variables';
@import '../../scss/mixin';

.header {
    height: 90px;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        overflow: visible;
        
        & .logoLink {
            margin: 5px;

            & .logo {
                width: auto;
                height: 80px;
            }
        }

        & .nav {
            display: flex;
            align-items: center;
            justify-content: center;

            & .nav-list {
                padding: 5px 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                & .ss-btn {
                    list-style-type: none;
                    margin: 0 10px;

                    & a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 40px;
                        text-decoration: none;
                        background: $white;
                        color: $black;
                        border-radius: 10px;
                        font-size: map-get($font-size, 'medium');
                        transition: all 0.4s ease-in-out;

                        border: 3px solid transparent;

                        &:hover {
                            background: $orange;
                            color: $white;
                            font-weight: map-get($font-weight, 'heavy'); 
                            box-shadow: 0 0 15px 4px $white;
                            border: 3px solid $white;
                        }
                    }
                }
                & .user-email {
                    color: $white;
                    border-bottom: 1px solid $white;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}