@import '../../scss/variables';
@import '../../scss/mixin';

.header {
    height: 100px;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        overflow: visible;
        
        & .logoLink {
            margin: 10px;

            & .logo {
                width: 80px;
            }
        }

        & .nav {
            margin: 10px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            & .nav-list {
                padding: 5px 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                & .ss-btn {
                    list-style-type: none;
                    margin: 0 10px;

                    & a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100px;
                        height: 40px;
                        text-decoration: none;
                        background: $white;
                        color: $black;
                        border-radius: 10px;
                        font-size: map-get($font-size, 'medium');

                        &:hover {
                            background: $orange;
                            transition: all 0.5s;
                            box-shadow: 0 0 10px 2px $orange;
                            color: $white;
                            font-weight: map-get($font-weight, 'heavy');
                        }
                    }
                }
                & .user-email {
                    color: $white;
                    border-bottom: 1px solid $white;
                    // transition: 0.5s all ease;
                    position: relative;

                    &:hover {
                        // color: $orange;
                        // border-bottom: 1px solid $orange;
                        cursor: pointer;
                    }
                }

                & .signout {
                    width: 100px;
                    height: 40px;
                    background: $white;
                    color: $black;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    font-size: map-get($font-size, 'medium');
                    cursor: pointer;

                    &:hover {
                        background: $orange;
                        transition: all 0.5s;
                        box-shadow: 0 0 10px 2px $orange;
                        color: $white;
                        font-weight: map-get($font-weight, 'medium');
                    }
                }
            }
        }
    }
}