@import '../../scss/variables';
@import '../../scss/mixin';

.footer {
    // position: relative;
    // z-index: 2;
    
    & .wrapper {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
    }
}