@import '../../scss/variables';
@import '../../scss/mixin';

.footer {
    
    & .wrapper {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;

        & p {

            & span {

                color: $orange;
                font-weight: map-get($font-weight, 'heavy');
            }
        }
    }
}