@import 'scss/variables';
@import 'scss/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./assets/img/background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    font-family: $roboto-slab;
}

.landing,
.home,
.history,
.create-product,
.admin {
    min-height: calc(100vh - 140px);
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    overflow: hidden;

    @include tablet {
        padding: 0 15px;
    }
    @include mobile {
        padding: 0 10px;
        }
}

.loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}