@import 'scss/variables';
@import 'scss/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./assets/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 80px);
}

.wrapper {
    border: 2px solid white;
    max-width: 1200px;
    margin: auto;
}