// Breakpoints
$mobile: 767px;
$tablet: 768px;
$desktop: 1023px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}


@keyframes blinkLI {
    0% {
        background: $dark-gray-alpha;
    }
    50% {
        background: $orange;
    }
    100% {
        background: $dark-gray-alpha;
    }
}
